.projectContainer {
    flex-direction: row;
    background-color: var(--color-surface);
    border-radius: 15px;
    padding: 43px;
    margin-top: 59px;
    z-index: 1;
    margin-left: 7%;
    margin-right: 7%;
}

.title {
    color: var(--color-text);
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    background: linear-gradient(
        to right, 
        var(--color-text), 
        var(--color-surface)
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px var(--color-shadow);
}

.title::after {
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    margin: 8px auto 0;
    background: linear-gradient(to right, 
    var(--color-text), 
    var(--color-surface)
    );
    border-radius: 2px;
}
.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}