:root {
    /*Colours*/
    --color-text: #FCECDD;
    --color-primary: #F0E3CA;
    --color-secondary: #A35709;
    --color-dark: #7d4b0116;
    --color-bg: #1B1A17;

    /*Fonts*/
    --font-robot: "Bebas Neue", sans-serif;
}
