:root {
  --color-bg: #f5f0e6;
  --color-surface: #e0d7cd;
  --color-text: #3e3229;
  --color-secondary-text: #7c6f64;
  --color-primary: #f4a259;
  --color-primary-light: #f8c28d;
  --color-secondary: #f2b8a0;
  --color-border: #c8b6a6;
  --color-shadow: #0000001a;


    /*Fonts*/
  --font-robot: "Bebas Neue", sans-serif;
}

@font-face {
    font-family: 'Morelan';
    src: 
      url('../assets/fonts/Morelan.woff2') format('woff2'),
      url('../assets/fonts/Morelan.woff') format('woff'),
      url('../assets/fonts/Morelan.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Optional: prevents invisible text during load */
  }
