@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(
        180deg,
        var(--color-secondary) 0%,
        var(--color-detail) 200%
        );
    box-shadow: 0 16px 14px 0 #3b3934;
}