@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Customizing the Navigation Bar*/
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
    font-family: "Bebas Neue", sans-serif;
}

/*Customizing the Title*/
.title {
    font-family: 'Morelan', sans-serif;
    display: flex;
    font-size: 45px;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
}

/*Customizing the Navigation Menu*/
.menu {
    display: flex;
}

.menuItems{
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(61, 58, 52);
        background: linear-gradient(
            0deg, rgba(61, 58, 52, 0.2) 0%,
             rgba(61, 58, 52, 1) 100%
        );
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }
}

.menuOpen {
    display: flex;
    z-index: 1;
}
