@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Customizing the Navigation Bar*/
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
    font-family: "Bebas Neue", sans-serif;
}

/*Customizing the Title*/
.title {
    font-family: "Roboto";
    display: flex;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
}

/*Customizing the Navigation Menu*/
.menu {
    display: flex;
}

.menuItems{
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
}

